<h1>Add New Movie</h1>
<form #miForm="ngForm" (ngSubmit)="onSubmit()">
    <p>Title:</p>
    <p>
        <input type="text" #title="ngForm" ngControl="title" [(ngModel)]="newMovie.title"  required minlength="3"/>
        <span *ngIf="!title.valid">Title Not Validate</span>
    </p>
    <p>Image:</p>
    <p>
        <input type="text" #image="ngForm" ngControl="image" [(ngModel)]="newMovie.image" required/>
        <span *ngIf="!image.valid">Image Not Validate</span>
    </p>
    <p>Director:</p>
    <p>
        <input type="text" #made="ngForm" ngControl="made" [(ngModel)]="newMovie.made" required minlength="3"  pattern="[A-Za-z]*"/>
        <span *ngIf="!made.valid">Director Not Validate</span>
    </p>
    <p>Year:</p>
    <p>
        <input type="text" #year="ngForm" ngControl="year" [(ngModel)]="newMovie.year" required minlength="4" pattern="[0-9]*"/>
        <span *ngIf="!year.valid">Year Not Validate</span>
    </p>
    <p><input type="submit" value="Add Movie" [disabled]="!miForm.form.valid"/></p>
</form>